<div class="bracket-wrapper">
  <div class="bracket">
    <div [ngClass]="{'winner': this.winnerIndex == 0}" class="team" *ngIf="match.teamNames[0] != ''">
      <img src="/assets/images/flags/{{match.teamNames[0]}}.png" class="flag" alt=""/>
      <div class="name">{{match.teamNames[0].substring(0, 3).toUpperCase()}}</div>
      <div class="goals-container">
        <div class="goals">{{match.state > 1 ? match.goals[0] : "-"}}</div>
      </div>
    </div>

    <div [ngClass]="{'winner': this.winnerIndex == 1}" class="team" *ngIf="match.teamNames[0] != ''">
      <img src="/assets/images/flags/{{match.teamNames[1]}}.png" class="flag" alt=""/>
      <div class="name">{{match.teamNames[1].substring(0, 3).toUpperCase()}}</div>
      <div class="goals-container">
        <div class="goals">{{match.state > 1 ? match.goals[1] : "-"}}</div>
      </div>
    </div>
  </div>
</div>
