<div class="bracket-wrapper">
  <div class="bracket">
    <div class="team" *ngIf="match.teams[0] != ''">
      <img src="/assets/images/flags/{{match.teams[0]}}.png" class="flag" alt=""/>
      <div class="name">{{match.teams[0].substring(0, 3).toUpperCase()}}</div>
      <div class="goals-container">
        <div class="goals">{{match.state == 2 ? match.goals[0][0] : 0}}</div>
        <div class="goals">{{match.state == 2 ? match.goals[1][0] : 0}}</div>
        <div class="goals">{{match.state == 2 ? match.goals[2][0] : 0}}</div>
      </div>
    </div>

    <div class="team" *ngIf="match.teams[0] != ''">
      <img src="/assets/images/flags/{{match.teams[1]}}.png" class="flag" alt=""/>
      <div class="name">{{match.teams[1].substring(0, 3).toUpperCase()}}</div>
      <div class="goals-container">
        <div class="goals">{{match.state == 2 ? match.goals[0][1] : 0}}</div>
        <div class="goals">{{match.state == 2 ? match.goals[1][1] : 0}}</div>
        <div class="goals">{{match.state == 2 ? match.goals[2][1] : 0}}</div>
      </div>
    </div>
  </div>
</div>
