<h1>{{ this.dataService.tableOverviewTitle }}</h1>

<div *ngIf="this.dataService.currentRound != -1" class="round">
  Runde {{ this.dataService.currentRound }} von
  {{ this.dataService.groupPhaseDone ? 3 : 12 }}
</div>

<div *ngIf="!this.dataService.groupPhaseDone" class="next-games">
  <strong>Nächste Partien:</strong>
  {{ this.dataService.nextMatchesAsFormattedString }}
</div>

<div
  class="tables-container"
  [@staggerFadeAnimationEnter]="this.dataService.currentRound"
>
  <div
    class="table"
    *ngFor="let match of this.dataService.activeMatches; index as i"
  >
    <div class="title">Tisch {{ i + 1 }}</div>

    <div class="teams-container">
      <div class="team">
        <div class="country-name">{{match.teamNames[0]}}</div>
        <img
          class="flag"
          src="/assets/images/flags/{{ match.teamNames[0] }}.png"
          alt=""
        />

        <div *ngIf="!this.noNameMode" class="members-container">
          <div
            *ngFor="
              let member of this.dataService.getTeamMembersFromTeamName(
                match.teamNames[0]
              )
            "
            class="member"
          >
            {{ member ? member : "-" }}
          </div>
        </div>

        <input
          type="number"
          min="0"
          max="6"
          [(ngModel)]="match.goals[0]"
          (input)="inputChanged($event)"
        />
      </div>

      <div class="versus">vs.</div>

      <div class="team">
        <div class="country-name">{{match.teamNames[1]}}</div>
        <img
          class="flag"
          src="/assets/images/flags/{{ match.teamNames[1] }}.png"
          alt=""
        />

        <div *ngIf="!this.noNameMode" class="members-container">
          <div
            *ngFor="
              let member of this.dataService.getTeamMembersFromTeamName(
                match.teamNames[1]
              )
            "
            class="member"
          >
            {{ member ? member : "-" }}
          </div>
        </div>

        <input
          type="number"
          min="0"
          max="6"
          [(ngModel)]="match.goals[1]"
          (input)="inputChanged($event)"
        />
      </div>
    </div>
  </div>
</div>
