<div class="tree-container">
    <div class="column1 column">
        <app-bracket></app-bracket>
        <app-bracket></app-bracket>
        <app-bracket></app-bracket>
        <app-bracket></app-bracket>
        <app-bracket></app-bracket>
        <app-bracket></app-bracket>
        <app-bracket></app-bracket>
        <app-bracket></app-bracket>
    </div>
    <div class="column2 column">
        <app-bracket></app-bracket>
        <app-bracket></app-bracket>
        <app-bracket></app-bracket>
        <app-bracket></app-bracket>
    </div>
    <div class="column3 column">
        <app-bracket></app-bracket>
        <app-bracket></app-bracket>
    </div>
    <div class="column4 column">
        <app-bracket></app-bracket>
    </div>
</div>