<div class="round-titles-container">
    <div class="round-title">Achtelfinale</div>
    <div class="round-title">Viertelfinale</div>
    <div class="round-title">Halbfinale</div>
    <div class="round-title">Finale</div>
    <div class="round-title">Halbfinale</div>
    <div class="round-title">Viertelfinale</div>
    <div class="round-title">Achtelfinale</div>
</div>
<div class="tree-container">
    <div class="column">
        <app-bracket></app-bracket>
        <app-bracket></app-bracket>
        <app-bracket></app-bracket>
        <app-bracket></app-bracket>

    </div>
    <div class="column">
        <app-bracket></app-bracket>
        <app-bracket></app-bracket>
    </div>
    <div class="column">
        <app-bracket></app-bracket>
    </div>
    <div class="column">
        <div class="title">WELTMEISTER DEUTSCHLAND</div>
        <app-bracket></app-bracket>
        <app-bracket></app-bracket>
    </div>
    <div class="column">
        <app-bracket></app-bracket>
    </div>
    <div class="column">
        <app-bracket></app-bracket>
        <app-bracket></app-bracket>
    </div>
    <div class="column">
        <app-bracket></app-bracket>
        <app-bracket></app-bracket>
        <app-bracket></app-bracket>
        <app-bracket></app-bracket>
    </div>
</div>