<div class="table-container">
  <div class="versus-container">
    <img class="flag" src="/assets/images/flags/{{ match.teams[0] }}.png" />
    <div class="versus">vs.</div>
    <img class="flag" src="/assets/images/flags/{{ match.teams[1] }}.png" />
  </div>
  <img class="table" src="/assets/images/table.png" />
  <div class="class input-group">
    <input
      type="number"
      min="0"
      oninput="validity.valid||(value='0');"
      [(ngModel)]="match.points[0]"
      (ngModelChange)="dataChanged($event)"
      class="team-member"
    />
    <span>:</span>
    <input
      type="number"
      min="0"
      oninput="validity.valid||(value='0');"
      [(ngModel)]="match.points[1]"
      (ngModelChange)="dataChanged($event)"
      class="team-member"
    />
  </div>
</div>
