@import "variables.scss";


nav {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding: 20px;

    ul {
        display: flex;
        padding: 0;
        margin: 0;
        
        li {
            list-style: none;
            margin-right: 50px;
            
            a {
                text-decoration: none;
                color: white;
            }

            a.active {
                text-decoration: underline;
            }
            
        }
    }
}