@import "variables.scss";



:host {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;

    nav {
        position: absolute;
        display: flex;
        top: -60px;
        left: 0;
        right: 0;
        height: 120px;
        transition: all 500ms ease-out;

        &:hover {
            top: 0px;
        }
        
        ul {
            background-color: rgba(0, 0, 0, 0.274);
            display: flex;
            padding: 0 0 0 20px;
            margin: 0;
            width: 100%;
            align-items: center;
            height: 60px;
            
            li {
                list-style: none;
                margin-right: 50px;
                
                a {
                    text-decoration: none;
                    color: white;
                }
    
                a.active {
                    text-decoration: underline;
                    font-weight: bold;
                }
                
            }
        }
    }
}