@import "variables.scss";


.group-label {
    margin-bottom: 5px;
}

tr {
    display: flex;
    margin-bottom: 3px;
    height: 25px;
    width: 300px;
    
    .country-index {
        text-align: center;
        flex-basis: 10%;
        background-color: $points-darkblue;
    }

    &:nth-child(-n+2) .country-index {
        background-color: $points-lightblue;
    }

    .country-flag {
        width: 45px;
        margin-right: 5px;
        margin-right: auto;
    }

    .country-name {
        background-color: $group-team-bg-color;
        flex-grow: 1;
        text-align: center;
    }
    
    .country-points {
        text-align: center;
        flex-basis: 10%;
        background-color: $points-gray;
        margin-left: auto;
    }
}

:host {
    background-color: rgba(0, 0, 0, 0.377);
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 21%;
    margin-right: 20px;
}