$navbar-bg-color: rgb(0, 0, 0);

$bracket-bg-color: #222;
$bracket-connector-color: white;
$bracket-connector-width: 2px;

$team-bg-color: #222;

$points-lightblue: rgb(87, 214, 236);
$points-darkblue: rgb(34, 66, 134);

$page-bg-gradient: linear-gradient(rgb(9, 48, 121, 0.6) 0%, rgb(124, 0, 37, 0.6));

$footer-bg-color: rgb(0, 0, 0);