@import 'variables.scss';

:host {
  display: flex;
  height: 8%;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color: $transparent-black;
  border-top: $transparent-border;
  backdrop-filter: blur(4px);
}
