
<div class="rainbow">

<div class="team-container" >
    <div class="team-name">{{team.name}}</div> 
    <div>
        <img class="country-flag" src="/assets/images/flags/{{team.name}}.png" width="100" height="56,3">
    </div>


    <div class="input">

        <input [(ngModel)]="team.members[0]" (ngModelChange)="dataChanged($event)" class="team-member">
        <input [(ngModel)]="team.members[1]" (ngModelChange)="dataChanged($event)" class="team-member">
         
    </div>
   </div>
</div>