@import "variables.scss";

.team-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: center;
  background-color: $transparent-black;

  .team-member-inputs {
    .team-member {
      color: white;
      background-color: transparent;
      border-color: rgba(99, 97, 97, 0.4);
      text-align: center;
    }
  }

  &:hover {
    background-color: rgb(123, 139, 140);
  }
}

:host {
  display: flex;
  flex-basis: 12%;
  justify-content: center;
  align-items: center;
}

.red-border {
  border: 2px solid red;
  animation: pulse 2s infinite;

  display: flex;
  flex-direction: column;
  border: 1px solid rgb(255, 0, 0);
  text-align: center;
  background-color: rgba(255, 0, 0, 0.5);

  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
}

::placeholder {
  color: white;
  opacity: 1;
}
