<div
  class="team-container"
  [ngClass]="{
    'red-border': !team.members[0] || !team.members[1]
  }"
>
  <div class="team-name">{{ team.name }}</div>
  <img class="country-flag" src="/assets/images/flags/{{ team.name }}.png" />

  <div class="team-member-inputs">
    <input
      placeholder="Bitte eintragen"
      [(ngModel)]="team.members[0]"
      (ngModelChange)="dataChanged($event)"
      class="team-member"
      maxlength="15"
    />
    <input
      placeholder="Bitte eintragen"
      [(ngModel)]="team.members[1]"
      (ngModelChange)="dataChanged($event)"
      class="team-member"
      maxlength="15"
    />
  </div>
</div>
