@import "variables.scss";


/* overpass-regular - latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/overpass-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('assets/fonts/overpass-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/overpass-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/overpass-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/overpass-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/overpass-v12-latin-regular.svg#Overpass') format('svg'); /* Legacy iOS */
}

/* overpass-700 - latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/overpass-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('assets/fonts/overpass-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/overpass-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/overpass-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/overpass-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/overpass-v12-latin-700.svg#Overpass') format('svg'); /* Legacy iOS */
}


html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-image: $page-bg-gradient,
    url("/assets/images/backgrounds/arena.jpg");
  background-size: cover;
  color: white;
}

* {
  font-family: Overpass;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  margin: 70px 0 0 0;
}
